:root[data-theme="dark"] {
  --profile-bg: #1c1c1c;
  --profile-text: #f6f3e8;

  --profile-link: #8ac6f2;
  --profile-link-hover: #b3dcff;

  --profile-key: #cae682;
  --profile-string: #95e454;
  --profile-number: #e5786d;
  --profile-boolean: #8ac6f2;
  --profile-null: #b4b4b4;
  --profile-bracket: #c6c6c6;

  --toggle-track: #2a2a2a;
  --toggle-thumb: #4a4a4a;
  --toggle-icon-color: #f6f3e8;
}

:root[data-theme="light"] {
  --profile-bg: #ffffff;
  --profile-text: #2b2b2b;

  --profile-link: #005faf;
  --profile-link-hover: #004b8a;

  --profile-key: #005f87;
  --profile-string: #008700;
  --profile-number: #af0000;
  --profile-boolean: #5f00af;
  --profile-null: #6c6c6c;
  --profile-bracket: #4e4e4e;

  --toggle-track: #b3d9ff;
  --toggle-thumb: #ffffff;
  --toggle-icon-color: #4a90e2;
}